body {
    background: linear-gradient(135deg, #141e30, #243b55);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 30px;
    color: #00ffe0;
    font-size: 36px;
    text-shadow: 0 0 10px #00ffe0;
}

.mic-btn {
    background: #ff4b5c;
    border: none;
    padding: 18px 35px;
    font-size: 22px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    box-shadow: 0 0 20px #ff4b5c;
    transition: 0.3s;
}

.mic-btn:hover {
    transform: scale(1.1);
    background: #ff1e38;
}

.mic-btn:active {
    box-shadow: 0 0 30px #ff4b5c;
    transform: scale(1.15);
}

#result {
    margin-top: 30px;
    font-size: 20px;
    color: #00ffcc;
    white-space: pre-line;
}

.chart-container {
    width: 420px;
    margin: auto;
    margin-top: 40px;
}